@use "../../styles/partials/font";
@use '../../styles/partials/fontstyles' as *;
@use "../../styles/partials/colors" as *;
@use '../../styles//partials//breakpoints' as *;

* {
    box-sizing: border-box;
}

input, button, select {
    cursor: pointer;
}

.user-search {
   padding: 1rem;
   background-color: $background-lightgrey;

        @include tablet {
            padding: 2rem 6rem;
        }

        @include desktop {
            padding: 2rem 12rem;
        }

    &__title {
        @include title-page;
        text-align: center;
        color: $primary-blue;
        margin: 2rem 0;
    }

    &__checkbox-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

            @include tablet {
                flex-direction: row;
                justify-content: space-between;
            }
    }

    &__text {
        @include text-regular;
        padding-left: .5rem;

            @include desktop {
                font-size: 0.825rem;
            }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0 1rem;

            @include tablet {
                margin: 0 6rem;
            }

            @include desktop {
                margin: 0 12rem;
            }
    }

    &__photo {
        background-image: url(../../assets/images/theater-photo.jpg);
        background-size: cover;
        background-position: center;
        height: 10rem;
        width: 100%;
        opacity: 50%;
        border-radius: 0.5rem;
        
            @include tablet {
                height: auto;
                width: 20rem;
            }

            @include desktop {
                width: 26rem;
            }
    }

    &__button-container {
        display: flex;
        width: 100%;

            @include tablet {
                width: 100%;
                justify-content: end;
            }
    }

    &__button {
        width: 100%;
        height: 2rem;
        margin: 2rem 0;
        font-family: "Open Sans";
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 600;
        background-color: $primary-red;
        color: white;
        border-radius: 8px;
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;

            @include tablet {
                width: auto;
                padding: 0 1rem;
            }

            &:hover {
                background-color: $button-active;
            }
    }

    &__results {
        background-color: $background-lightgrey;
    }
}