@use "../../styles/partials/font";
@use "../../styles/partials/colors" as *;

* {
    box-sizing: border-box;
}

input {
    cursor: pointer;
}

.user-signup {
    margin: 2rem 1rem;

    &__title {
        font-family: "open Sans";
        font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: 700;
        text-align: center;
        color: $primary-blue;
    }

    &__label {
        font-family: "Open Sans";
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 600;
        color: $primary-red;
        
    }

    &__input {
        width: 100%;
        height: 2rem;
        border: 2px solid $primary-blue;
        border-radius: 8px;
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    &__dropdown {
        width: 100%;
        font-family: "Open Sans";
        height: 2rem;
        border: 2px solid $primary-blue;
        border-radius: 8px;
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
    }

    &__text {
        
        // margin: 0.25rem 0 1rem 0;
        color: $primary-black;
    }

    &__checkbox-label {
        font-family: "Open Sans";
        font-size: 0.813rem;
        line-height: 1.25rem;
        font-weight: 400;
        padding-left: .5rem;
    }

    &__button {
        width: 100%;
        height: 2rem;
        margin: 2rem 0;
        font-family: "Open Sans";
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 600;
        background-color: $primary-orange;
        color: white;
        border-radius: 8px;
        border: 2px solid $primary-blue;
    }
}

.user-signup__input.active {
    border-color: red;
}