@use "../../styles/partials/font";
@use '../../styles/partials/fontstyles' as*;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/mixins.scss' as *;

* {
    box-sizing: border-box;
}

input, button, select {
    cursor: pointer;
}

.user-signup {
    padding: 1rem;
    background-color: $background-lightgrey;

        @include tablet {
            padding: 2rem 6rem;
        }

        @include desktop {
            padding: 2rem 12rem;
        }

    &__parent {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            gap: 4rem;
        }
    }

    &__child {
        @include desktop {
            width: 50%;
        }
    }

    &__title {
        @include title-page;
        text-align: center;
        color: $primary-blue;
        margin: 2rem 0;
    }

    &__label {
        @include label-small;
        color: $primary-red;
    }

    &__input {
        @include input;

            @include tablet {
                margin-bottom: 1.25rem;
            }

        &:focus {
            outline: none;
            border-color: $primary-red;
        }
    }

    &__dropdown {
        font-family: "Open Sans";
        @include input;

            @include tablet {
                margin-bottom: 1.25rem;
            }

        &:focus {
            outline: none;
            border-color: $primary-red;
        }
    }

    &__text {
        color: $primary-black;
    }

    &__checkbox {
        display: flex;
    }

    &__checkbox-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

            @include tablet {
                flex-direction: row;
                justify-content: space-between;
            }
    }

    &__checkbox-label {
        @include label;
        padding-left: .5rem;

            @include desktop {
                font-size: 0.825rem;
            }
    }

    &__photo {
        @include photo;
        
            @include tablet {
                height: auto;
                width: 20rem;
            }

            @include desktop {
                width: 26rem;
            }
    }

    &__button-container {
        display: flex;
        width: 100%;

            @include tablet {
                width: 100%;
                justify-content: end;
            }
    }

    &__button {
        @include button;
        margin: 2rem 0;

            @include tablet {
                width: auto;
                padding: 0 1rem;
            }

        &:hover {
            background-color: $button-active;
        }
    }

}