@use "../../styles/partials/font";
@use '../../styles/partials/fontstyles' as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/breakpoints' as *;

a {
    text-decoration: none;
    color: $primary-black;
    height: 1.75rem;

    &:hover {
        color: $primary-red;
    }
}

.header {
    background-color: $primary-blue; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;

        @include tablet {
            padding: 0 12rem;
        }
        
        @include desktop {
            padding: 0 24rem;
        }

    &__logo {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    &__logo-image {
        height: 4rem;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
    }

    &__title {
        @include title-header;
        text-align: center;
    }

    &__text {
        @include text; 

            @include tablet {
            }
    }
}

.active {
    color: $primary-red;
}