@use "../../styles/partials/font";
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/breakpoints' as *;

a {
    text-decoration: none;
    color: $primary-black;

    &:hover {
        color: $primary-red;
    }
}

.header {
    background-color: $primary-blue; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0.5rem;

        @include tablet {
            padding: 0 12rem;
            padding-bottom: 0.5rem;
        }

    &__logo {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    &__logo-image {
        height: 4rem;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
    }

    &__title {
        font-family: "open Sans";
        font-size: 3rem;
        line-height: 2.25rem;
        font-weight: 700;
        text-align: center;
    }

    &__text {
        font-family: "Open Sans";
        font-size: 0.813rem;
        line-height: 1.25rem;
        font-weight: 700;

            @include tablet {
                font-size: 0.875rem;
                line-height: 1.375rem;
            }
    }


}