@use "../../styles/partials/font";
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/breakpoints' as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.user-list {
    margin: 0 1rem;

        @include tablet {
            margin: 0 2rem;
        }

        @include desktop {
            margin: 0 8rem;
        }

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;

            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
    }

    &__card {
        height: 32rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 2px solid $primary-blue;
        border-radius: 8px;
        padding: 1.5rem;
        margin-bottom: 2rem;
        background-color: $background-lightgrey;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

            @include tablet {
                width: 45%;
            }

            @include desktop {
                height: 25rem;
            }
    }

    &__card-content {
        flex-grow: 1;
    }

    &__title {
        font-family: "open Sans";
        font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: 700;
        text-align: center;
        color: $primary-blue;
        margin: 2rem 0;
    }

    &__copy {
        font-family: "Open Sans";
        font-size: 0.813rem;
        line-height: 1.25rem;
        font-weight: 700;
        text-align: center;
        margin: 0 0 3rem 0;

            @include tablet {
                font-weight: 1rem;
                line-height: 1.5rem;
            }
    }

    &__parent {
        display: flex;
        flex-direction: column;

            @include desktop {
                flex-direction: row;
                width: 100%;
            }
    }

    &__child {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__image {
        height: 2rem;
    }

    &__username {
        font-family: "Open Sans";
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        color: $primary-black;
    }

    &__label {
        font-family: "Open Sans";
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 600;
        color: $primary-red;
    }

    &__text {
        font-family: "Open Sans";
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 400;
        margin-top: 0.125rem;
        color: $primary-black;

            @include desktop {
                font-size: 0.825rem;
            }
    }

    &__button-container {
        display: flex;
        width: 100%;

            @include tablet {
                width: 100%;
                justify-content: end;
            }
    }

    &__button {
        width: 100%;
        height: 2rem;
        margin-top: auto;
        font-family: "Open Sans";
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 600;
        background-color: $primary-red;
        color: white;
        border-radius: 8px;
        border: none;
        cursor: pointer;

            @include tablet {
                width: auto;
                padding: 0 1rem;
            }

        &:hover {
            background-color: $button-active;
        }
    }

}