@use "../../styles/partials/font";
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/breakpoints' as *;

* {
    box-sizing: border-box;
}

.user-list {
    margin: 0;

        @include tablet {
            margin: 0 2rem;
        }

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;

            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
    }

    &__card {
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 2px solid $primary-blue;
        border-radius: 8px;
        padding: 1.5rem;
        margin-bottom: 2rem;

            @include tablet {
                width: 45%;
            }
    }

    &__card-content {
        flex-grow: 1;
    }

    &__title {
        font-family: "open Sans";
        font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: 700;
        text-align: center;
        color: $primary-blue;
    }

    &__copy {
        font-family: "Open Sans";
        font-size: 0.813rem;
        line-height: 1.25rem;
        font-weight: 700;
        text-align: center;
    }

    &__parent {
        display: flex;
        flex-direction: column;
    }

    &__child {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__username {
        font-family: "Open Sans";
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
    }

    &__label {
        font-family: "Open Sans";
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 600;
        color: $primary-red;
    }

    &__text {
        font-family: "Open Sans";
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 400;
        margin-top: 0.125rem;
        color: $primary-black;
    }

    &__button {
        width: 100%;
        height: 2rem;
        margin-top: auto;
        font-family: "Open Sans";
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 600;
        background-color: $primary-orange;
        color: white;
        border-radius: 8px;
        border: 2px solid $primary-blue;
        cursor: pointer;
    }

}